# OS files
.DS_Store
Thumbs.db
*.swp

# IDEs/Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js (just in case)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local
